body {
  position: relative;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.list-button-container {
  display: inline-block;
}

.timeDate {
    display: block;
    width: 100%;
    /* padding-bottom: 2%; */
    margin-top: 5%;
    color: #fff;
   /* border: 3px solid black; */
}

/*time styling:*/
#time {
     color: #fff;
     margin-top: 10%;
     display: block;
     font-size: 11em;
     font-weight: 500;
}

#greeting {
  position: relative;
  margin: auto;
  width: 700px;
  height: 400px;
  color: #fff;
  font-size: 5em;
  font-weight: 500;
  /* border: 3px solid black; */
}

#main-content h1 {
  color: #fff;
  font-size: 2em;
  font-weight: 450;
}

#main-content {
  position: absolute;
  margin: auto;
  top: 80%;
  right: 0;
  bottom: 0;
  left: 50%;
  width: 700px;
  height: 400px;
  /* border: 3px solid black; */
}

#show-all-lists {
  margin-bottom: 5px;
}

#new-list-title {
   background: transparent !important;
   border: none !important;
   border-bottom: 1px solid #fff !important;
   padding: 2px 5px;
   width: 200px;
   text-align: center;
   color: #fff;
   font-size: 1.5em;
   font-weight: 600;
}

#new-list-title:active {
   background: transparent !important;
   border: none !important;
   border-bottom: 1px solid #000000 !important;
   padding: 2px 5px;
   width: 100px;
   outline: none;
   border: 3px solid black;
   margin-bottom: 10px;
   /* background-color: initial; */
}

#new-list-title:focus {
  outline:0 !important;
}

#add-list-item {
  display: none;
}

#list-name {
  color: #fff;
  margin-right: 10px;
}

#create-list-form {
  /* border: 3px solid black; */
}

#all-lists {
  /* border: 3px solid black; */
  text-align: left;
  margin: 0;
  width: 400px;
  margin-left: 38%;
}

#check-list {
  margin-right: 5px;
}
