* {
  margin: 0;
  padding: 0;
}

body, html {
    height: 100%;
}

body {
  /* default bcground if offline */
  background-image: url('/img/beach.jpg');
}

.ui-widget-content {
  background: transparent !important;
  /* background: rgba(0, 0, 0, 0.2) !important;
  border: 0 !important; */
}


.container {
   margin-left: auto;
   margin-right: auto;
}

.list-button-container {
  display: inline-block;
}

.timeDate {
    display: block;
    width: 100%;
    /* padding-bottom: 2%; */
    margin-top: 5%;
    color: #fff;

    margin-left: -10%;
   /* border: 3px solid black; */
}

/*time styling:*/
#time {
     color: #fff;
     margin-top: 10%;
     margin-bottom: -50px;
     display: block;
     font-size: 11em;
     font-weight: 500;
    /* border: 3px solid black; */
}

#greeting {
  position: relative;
  /* margin: auto; */
  width: 700px;
  height: 310px;
  color: #fff;
  font-size: 5em;
  font-weight: 500;

  margin-left: 5%;
  /* border: 3px solid black; */
}

#main-content h1 {
  color: #fff;
  font-size: 2em;
  font-weight: 450;
}

#main-content {
  position: absolute;
  margin: auto;
  top: 0;
  right: 0;
  bottom: 0;
  left: 60%;
  width: 400px;
  height: 350px;
  box-shadow: 7px 5px 34px 10px rgba(0, 0, 0, 0.4), inset -3px -5px 10px 0.1px #89847e;
  border-radius: 10px;
  cursor: pointer;
  z-index: 9;
  padding-top: 5px;
  overflow: hidden;
  overflow-y: scroll;
  overflow-x: scroll;
  /* border: 3px solid black; */
}

#show-all-lists {
  margin-bottom: 10px;
  padding: 0 10px;
  background-color: transparent;
  border-radius: 5px;
  border: solid 2px #fff;
  color: #fff;
  cursor: pointer;
}

/* notifications: */
.fa-bell, .fa-bell-slash {
    background: transparent;
    border: none;
    color: #fff;
    padding: 5px;
    border: 1px solid;
    border-radius: 4px;
    margin: 20px 30px;
    outline: 0;
    float: right;
    cursor: pointer;
}

.fa-bell:active, .fa-bell-slash:active {
  outline: 0;
}

.fa-bell:focus, .fa-bell-slash:focus {
  outline: 0;
}

#show-all-lists:focus {
  outline: none;
}

#show-all-lists:hover {
  background-color: rgba(255,255,255,0.4);
}

#show-all-lists:active {
  background-color: rgba(0,0,0,0.4);
}

#new-list-title {
   background: transparent !important;
   border: none !important;
   border-bottom: 1px solid #fff !important;
   padding: 2px 5px;
   width: 200px;
   text-align: center;
   color: #fff;
   font-size: 1.5em;
   font-weight: 600;
}

#new-list-title:active {
   background: transparent !important;
   border: none !important;
   border-bottom: 1px solid #000000 !important;
   padding: 2px 5px;
   width: 100px;
   outline: none;
   border: 3px solid black;
   margin-bottom: 10px;
}

#new-list-title:focus {
  outline:0 !important;
}

#add-list-item {
  display: none;
}

#list-name {
  color: #fff;
  margin-right: 10px;
  font-weight: 400;
  font-size: 1.4em;
}

#create-list-form {
  /* border: 3px solid black; */
}

#all-lists {
  /* border: 3px solid black; */
  text-align: left;
  margin: 0;
  width: 400px;
  margin-left: 30%;
}

#check-list {
  margin-right: 5px;
}

#location {
  width: 300px;
  color: #fff !important;
  text-decoration: none !important;
  font-weight: 600;
  font-size: 1.5em;
  margin-left: 10px;
  margin-top: 10px;
  min-height: 85px;

  float: left;
  /* border: 3px solid black; */
}

#location a {
  color: #fff !important;
  text-decoration: none !important;
}

#location a:hover {
  color: #fff !important;
  text-decoration: none !important;
}

.quote-style {
  color: #fff;
  font-weight: 400;
  font-size: 1.8em;
  margin-bottom: 50px;
  font-family: 'Shadows Into Light', cursive;
  /* background-color: rgba(255, 255, 255, 0.2); */
  /* border: 1px solid #fff; */
  margin: 0 300px;
  border-radius: 10px;
  padding: 10px 0;
}
